<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="default">
		<class>InzinjeringOft.repository.PatientRep</class>
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
	    <description>Hibernate EntityManager</description>
	    <properties>
	        <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
	        <property name="hibernate.hbm2ddl.auto" value="update"/>
	        <property name="javax.persistence.jdbc.url" value="jdbc:mysql://${MYSQL_HOST:localhost}:3306/inzinjering_2020"/>
	        <property name="javax.persistence.jdbc.user" value="root"/>
	        <property name="javax.persistence.jdbc.password" value="kikiriki"/>
	    </properties>
	</persistence-unit>
</persistence>